.composition{
    position: relative;
    
    &__photo {
        
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black , .4);
        border-radius: 2px;
        position: absolute;
        z-index: 1;
        transition: all 0.3s;

        &--p1{
            left: 0;
            top: -2px;
        }
        &--p2{
            top: 2rem;
            right: 0;
        }
        &--p3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            z-index: 2;
            box-shadow: 0 2.5rem 4rem rgba($color-black , .4);
            transform: scale(1.2) translateY(-.5rem);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.8);
    }

}